@model AdministradorDeBarberia.Models.Empleado

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Detalles del empleado</h1>

    <div>
       
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Especialidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Especialidad)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model?.EmpleadoId">Editar</a> |
        <a class="btn btn-link" asp-action="Index">Volver</a>
    </div>

</div>
